.pizza_text {
    font-weight: 700;
    font-size: 19px;
    line-height: 17px;
    color: #000;
    margin-bottom: 15px;
    margin-top: 20px;
}

.pizza_box {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
    box-shadow: 5px 2px 30px hsla(257, 8%, 83%, .3);
    border-radius: 14px;
    width: 100%;
    margin-bottom: 8px;
    cursor: pointer;
    transition: all .3s ease;
}

.pizza_img {
    width: 115px;
    height: 115px;
    border-radius: 14px;
}

.pizza_img>img {
    width: 115px;
    height: 115px;
    object-fit: cover;
}

.pizza_desc {
    margin-left: 15px;
    width: 100%;
    height: 100%;
    padding-top: 10px;
}

.pizza_title > h3 {
    font-weight: 400;
    font-size: 17px;
    line-height: 17px;
    margin-bottom: 5px;
    color: #000;
}

.pizza_title > p {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #828282;
}

.pizza_price {
    background-color: #ebebeb;
    border-radius: 27px;
    padding: 8px 12px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 127px;
    border: none;
    font-family: "Lexend";
    font-weight: 600;
}

@media screen and (min-width: 1180px) {
    .pizza_wrapper { 
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
        gap: 15px;
    }

    .pizza_box {
        max-width: 303px;
        height: 280px;
        flex-direction: column;
        justify-content: space-between;
    }

    .pizza_title {
        height: 92px;
    }
}