.header {
    padding: 20px;
}

.header_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_hamburger {
    font-size: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header_order {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 5px;
    border-radius: 20px;
    width: 70%;
    background-color: #f4f4f4;
}

.deliver_order {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px 5px;
    color: #000;
    font-weight: 600;
    line-height: 18px;
    font-size: 14px;
    border-radius: 20px;
    transition: 0.4s;
    flex-grow: 1;
}

.header_cart {
    min-width: 17px;
    font-size: 20px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header_cart > span {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #ff002b;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: #fff;
}

.header_desktop {
    display: none;
}

@media screen and (min-width: 1024px) {
    .header_wrapper {
        display: none;
    }

    .header_desktop {
        display: flex;
        align-items: center;
        justify-content: space-between;
    } 

    .header_logo > a {
        max-width: 260px;
        width: 100%;
        height: 65px;
        display: flex;
    }

    .header_location {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .header_city {
        font-size: 19px;
        font-weight: 600;
    }

    .header_city > span {
        color: #006f4c;
        font-weight: 700;
        cursor: pointer;
        margin-left: 5px;
    }

    .header_rating {
        display: flex;
        align-items: flex-end;
        margin-top: 10px;
    }

    .header_ratingIcon {
        font-size: 30px;
        color: #fec529;
    }

    .header_rating > h3 {
        font-size: 19px;
    }

    .header_call {
        display: flex;
        max-width: 400px;
    }

    .header_number {
        display: flex;
        align-items: center;
    }

    .header_callIcon {
        font-size: 30px;
        color: #00ab49;
    }

    .header_number > span {
        font-weight: 700;
        color: #000;
        font-size: 27px;
        margin-left: 5px;
    }

    .header_guaranteeText {
        margin-left: 8px;
        color: #006f4c;
        font-size: 17px;
    }

    .header_halal {
        width: 60px;
        height: 60px;
        display: flex;
    }
}
