.footer {
    background-color: #333;
}

.footer_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    gap: 20px;
}

.footer_box {
    max-width: 380px;
    min-width: 170px;
}

.footer_box>h2 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
}

.footer_image {
    
}