@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-thumb {
  background: #e8e8e8;
  border-radius: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

body {
  font-family: 'Lexend', sans-serif;
}

.container {
  min-width: 375px;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.prev-btn, .next-btn {
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #fff !important;
  border: 1px solid #ececec;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  position: absolute;
  cursor: pointer;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}

.prev-btn {
  left: -20px;
}

.next-btn {
  right: -20px;
}

@media screen and (min-width: 1024px) {
  .prev-btn, .next-btn {
    display: flex;
  }
}