.kombo {
    margin-top: 30px;
}

.kombo_category {
    color: #000;
    font-size: 19px;
}

.kombo_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (min-width: 1180px) {
    .kombo_wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

